doctype html
html
  head
    link(rel='stylesheet', href='stylesheets/standardize.css')
    link(rel='stylesheet', href='stylesheets/index-grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    link(href='http://fonts.googleapis.com/css?family=Lato:0,1,2,3,4,5', rel='stylesheet', type='text/css')
  body.body.index.clearfix
  block content